body{
    background-color: rgb(168, 210, 104);
}

.cajita1{
    display: flex;
    position: relative;
}
.informacion{
    display: inline-block;
}
.informacion2{
    display: inline-block;
    padding-left: 30px;
}
.servicios{
    display: flex;
    position: relative;
}
.detalles1{
    display: inline-block;
}
.detalles2{
    display: inline-block;
}