body{
    justify-content: center;
    
}

.datos-personales{
    display: flex;
}
.informacion1{
    display: inline-block;  
}
.informacion1 p{
   margin-top: 18px;
}
.informacion2{
    display: inline-block;
    margin-left: 50px;
}
#articulosprincipales{
    display: flex;
    justify-content: center;
}